@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main id="authentication" class="inner-bottom-md">
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-5">
                <section class="section sign-in inner-right-xs">
                    <h2 class="bordered">Thay đổi mật khẩu</h2>
                    <p></p>

                    <div class="login-form cf-style-1">
                        <div class="field-row">
                            <label>Mật khẩu cũ</label>
                            <input class="form-control" style="display: inline" placeholder="mật khẩu" id="oldPassword" name="Password" type="password">
                        </div><!-- /.field-row -->
                        <div class="field-row">
                            <label>Mật Khẩu mới</label>
                            <input class="form-control" style="display: inline" placeholder="mật khẩu" id="newPassword" name="Password" type="password">
                        </div><!-- /.field-row -->
                        <div class="buttons-holder">
                            <input type="submit" value="Đổi mật khẩu" class="le-button huge" onclick="ChangePassword()" />
                        </div><!-- /.buttons-holder -->
                    </div><!-- /.cf-style-1 -->

                </section><!-- /.sign-in -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</main>
<script type="text/javascript">
    function ChangePassword() {
        var oldPassword = $("#oldPassword").val();
        var newPassword = $("#newPassword").val();
        $.ajax({
            url: '/Account/DoChangePassword',
            method: 'POST',
            data: { "oldPassword": oldPassword, "newPassword": newPassword },
            success: function (result) {
                if (result) {
                    alert("Mật khẩu đã được thay đổi");
                    $.wait(1000);
                    window.location.href = "@Url.Action("ChangePassword", "Account")";
                } else {
                    alert("Mật khẩu của bạn không đúng.Xin hãy thử lại !");
                }
            }
        });
    }
</script>