@{
    ViewBag.Title = "ForgetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main id="authentication" class="inner-bottom-md">
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-5">
                <section class="section sign-in inner-right-xs">
                    <h2 class="bordered">Lấy lại mật khẩu</h2>
                    <p></p>

                    <div class="login-form cf-style-1">
                        <div class="field-row">
                            <label>Email Đăng Nhập</label>
                            <input class="form-control" style="display: inline" placeholder="tên đăng nhập" id="Username" name="Username" type="text" autofocus="">

                        </div><!-- /.field-row -->
                        <div class="buttons-holder">
                            <input type="submit" value="Lấy lại mật khẩu" class="le-button huge" onclick="GetPassword()" />
                        </div><!-- /.buttons-holder -->
                    </div><!-- /.cf-style-1 -->

                </section><!-- /.sign-in -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</main>
<script type="text/javascript">
    function GetPassword() {
        var username = document.getElementById('Username').value;
        $.ajax({
            url: '/Account/GetPassword',
            method: 'POST',
            data: { "email": username },
            success: function (result) {
                if (result) {
                    window.location.href = "@Url.Action("LogIn","Account")";
                } else {
                    alert("Email của bạn không tồn tại trong hệ thống. Xin hãy thử lại !");
                }
            }
        });
    }
</script>