
@{
    ViewBag.Title = "LogIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
    var Username = (string)Session["Email"];
    var UserRole = (string)Session["UserRole"];
}

            


<!-- ========================================= MAIN ========================================= -->
<main id="authentication" class="inner-bottom-md">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<section class="section sign-in inner-right-xs">
					<h2 class="bordered">Đăng nhập</h2>
					<p></p>

					<div class="login-form cf-style-1">
						<div class="field-row">
                            <label>Tên Đăng Nhập</label>
                            <input class="form-control" style="display: inline" placeholder="tên đăng nhập" id="Username" name="Username" type="text" autofocus="">

                        </div><!-- /.field-row -->

                        <div class="field-row">
                            <label>Mật Khẩu</label>
                            <input class="form-control" style="display: inline" placeholder="mật khẩu" id="Password" name="Password" type="password">
                        </div><!-- /.field-row -->

                        @*<div class="field-row clearfix">
                        	<span class="pull-left">
                        		<label class="content-color"><input type="checkbox" class="le-checbox auto-width inline"> <span class="bold">Remember me</span></label>
                        	</span>
                        	<span class="pull-right">
                        		<a href="#" class="content-color bold">Forgotten Password ?</a>
                        	</span>
                        </div>*@

                        <div class="buttons-holder">
                            <input type="submit" value="Đăng nhập" class="le-button huge" onclick="CheckLogin()" />
                            <input type="button" value="Đăng kí" class="le-button huge" onclick="window.location.href = '/Account/Register'" />
                        </div><!-- /.buttons-holder -->
					</div><!-- /.cf-style-1 -->

				</section><!-- /.sign-in -->
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</main>
<!-- /.authentication -->
<!-- ========================================= MAIN : END ========================================= -->



@*<div>
    <h4 style="color: red">@Html.ValidationMessage("LoginFailed")</h4>
    <div class="form-control-group">
        <label class="control-label" for="Username"></label>
        <input class="form-control" style="display: inline" placeholder="tên đăng nhập" id="Username" name="Username" type="text" autofocus="">
    </div>
    <br />

    <div class="form-control-group">
        <label class="control-label" for="Password"></label>
        <input class="form-control" style="display: inline" placeholder="mật khẩu" id="Password" name="Password" type="password">
    </div>
    <br />
    <input type="button" value="Đăng ký" class="btn btn-lg btn-info" onclick="window.location.href = '/Account/Register'" />
    <!-- Change this to a button or input when using this as a form -->

</div>*@

<script type="text/javascript">
    function CheckLogin() {
        var username = document.getElementById('Username').value;
        var password = document.getElementById('Password').value;
        $.ajax({
            url: '/Account/CheckLogin',
            method: 'POST',
            data: { "email": username, "password": password },
            success: function (result) {
                if (result == 1) {
                    window.location.href = "/Admin/Index";
                }
                else if (result == 2) {
                    window.location.href = "/Staff/Index";
                }
                else if (result == 3) {
                    window.location.href = "/Salesman/Index";
                }
                else if (result == 4) {
                    window.location.href = "/Home/Index";
                } else {
                    alert("Thông tin đăng nhập sai. Xin hãy thử lại !")
                }
            }
        });
    }
</script>
