@{
    ViewBag.Title = "RegisterResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="cart-page">
    <div class="container">
        <div class="col-xs-12 col-md-3"> </div>
        <div id="item-content" class="col-xs-12 col-md-6 items-holder no-margin" >
            <div class="panel panel-primary">
                <div class="panel-heading" style="font-size: larger;font-weight: bold">Thông báo</div>
                <div class="panel-body">
                    <p style="padding-top: 20px;padding-bottom: 20px;font-size: large">Chúc mừng bạn đã đăng ký thành công. <br/>Tài khoản của bạn sẽ được xác nhận 
                        sau khi nhân viên chúng tôi kiểm tra tính xác thực.
                        Nhấn vào <a href="@Url.Action("Index","Home")" style="text-decoration: underline">đây</a> để về lại trang chủ.
                    </p>
                </div>
            </div>
        </div>
    </div>
    </section>